/* .header {
  background-color: yellow;
  color: black;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.footer {
  background-color: green;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  position: fixed;
  bottom: 0;
} */
