.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 14px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

:root {
  --swiper-theme-color: #c9c9c9 !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 14px 21px;
  border-radius: 99px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 14px !important;
  font-weight: 600 !important;
}
